logs/
.env
.cursorignore
request_logs/
request_logs.csv
downloader_state/
downloader_state.json
skipped_log_ids.json
*.log
*.log.zip
*.log.gz
*.log.bz2
*.log.xz
*.log.tar
*.log.tar.gz
*.log.tar.bz2
*.log.tar.xz
Untitled*
__pycache__/
*.pyc
static/favicon.ico
examples/